@using MY_CSC_PROJECT.ViewModels
@model LoginVM;

@{
    ViewData["Title"] = "Login";
    Layout = "_LoginPartial";
}

<!-- From Uiverse.io by Yaya12085 -->
<div class="form-container">
    <p class="title">Login</p>
    <form asp-action="Login" method="post" class="form needs-validation" novalidate>
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-group">
            <label for="username">Username</label>
            <input asp-for="Username" class="form-control" id="username" required />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" asp-for="Password" class="form-control" id="password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="forgot">
                <input type="checkbox" onchange="togglePassword()">
                <label>Show password</label>
            </div>
        </div>
        <button type="submit" class="sign">Log in</button>
    </form>
</div>

@section Scripts {

    <script>
        function togglePassword() {
            var passwordInput = document.getElementById('password');
            passwordInput.type = passwordInput.type === "password" ? "text" : "password";
        }
    </script>
    <script>
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}