@model SPELS_TRACKING_SYSTEM.ViewModels.SpecialEligibilityVM
@inject IHttpContextAccessor httpContextAccessor

@{
    var superAdmin = httpContextAccessor.HttpContext.Session.GetString("SuperAdmin");
    var admin = httpContextAccessor.HttpContext.Session.GetInt32("IsAdmin");
    if (superAdmin != null || admin == 1)
    {
        Layout = "_AdminLayout";
        ViewData["Title"] = "Eligibilities Page";
    }
    else
    {
        Layout = "_Layout";
        ViewData["Title"] = "Eligibilities Page";
    }
}

<div class="d-flex align-items-center mt-3 mb-3">
    <h4 class="me-auto">Special Eligibilities</h4>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddModal">
        Add new
    </button>
</div>

<table class="table table-striped" id="TableIndex">
    <thead>
        <tr>
            <th>
                Special eligibility id
            </th>
            <th>
                Special eligibility name
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SpecialEligibilities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialEligibilityID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialEligibilityName)
                </td>
                <td>
                    <a class="btn btn-success btn-sm" onclick="EditForm(@item.SpecialEligibilityID)" id="EditForm">Edit</a> |
                    <a class="btn btn-danger btn-sm" onclick="ConfirmForm(@item.SpecialEligibilityID)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Add Special Eligibility Name -->
<form asp-action="Create" method="post" class="needs-validation" novalidate>
    <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="sampleDocsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="sampleDocsModalLabel">ADD NEW SPECIAL ELIGIBILITY</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-floating mb-3">
                        <input type="text" asp-for="SpecialEligibility.SpecialEligibilityName" class="form-control" id="AddSEName" placeholder="Special eligibility name" required />
                        <label for="AddSEName">Special eligibility name</label>
                        <span asp-validation-for="SpecialEligibility.SpecialEligibilityName" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="btnSave" type="submit" class="btn btn-primary btn-save d-flex">
                        <div class="loading-spinner d-none me-2">
                            <div class="spinner-border spinner-border-sm" role="status"></div>
                        </div>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit Special Eligibility Name -->
<form asp-action="Edit" id="EditFormModal" method="post" class="needs-validation" novalidate>
    <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="sampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="sampleDocsModalLabel">EDIT SPECIAL ELIGIBILITY</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input class="editID" asp-for="SpecialEligibility.SpecialEligibilityID" hidden />

                    <div class="form-floating mb-3">
                        <input type="text" asp-for="SpecialEligibility.SpecialEligibilityName" class="form-control" id="EditSEName" placeholder="Special eligibility name" required />
                        <label for="EditSEName">Special eligibility name</label>
                        <span asp-validation-for="SpecialEligibility.SpecialEligibilityName" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-save d-flex">
                        <div class="loading-spinner d-none me-2">
                            <div class="spinner-border spinner-border-sm" role="status"></div>
                        </div>
                        Save changes
                    </button>
                </div>

            </div>
        </div>
    </div>
</form>

<!-- Delete Special Eligibility -->
<form asp-action="Delete" method="post">
    <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel">Delete Special Eligibility</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="SpecialEligibilityID" name="SpecialEligibilityID" hidden />
                    <h5>Are you sure to delete this special eligibility?</h5>
                </div>
                <div class="modal-footer">
                    <button id="btnDelete" type="button" class="btn btn-danger">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let addModal = document.getElementById('AddModal');
            let editModal = document.getElementById('EditModal');
            let addSEName = document.getElementById('AddSEName');
            let editSEName = document.getElementById('EditSEName');
            let form = this.querySelector("form");

            addModal.addEventListener('shown.bs.modal', function () {
                addSEName.focus();
            });

            editModal.addEventListener('shown.bs.modal', function () {
                editSEName.focus();
            });

            addModal.addEventListener('hidden.bs.modal', function () {
                form.reset();
                form.classList.remove("was-validated");

                let validation = form.querySelectorAll("span.text-danger");
                validation.forEach(function (text) {
                    text.textContent = "";
                });
            });

            editModal.addEventListener('hidden.bs.modal', function () {
                form.reset();
                editSEName.classList.remove("is-invalid");
                form.classList.remove("was-validated");

                let validationMsg = form.querySelector(".text-danger");
                if (validationMsg) {
                    validationMsg.textContent = "";
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#btnDelete").click(function () {
                var idDelete = $("#SpecialEligibilityID").val();

                $.ajax({
                    type: "POST",
                    url: "/SpecialEligibilities/Delete",
                    data: { intDelete: idDelete },
                    success: function (result) {
                        if (result) {
                            $("#SpecialEligibilityID").val(null);
                            window.location.href = "/SpecialEligibilities/Index";
                        } else {
                            alert("Oishi! Something went wrong.");
                        }
                    }
                });
            });
        });

        var EditForm = function (id) {
            $.ajax({
                type: "GET",
                url: "/SpecialEligibilities/GetSE",
                data: { getID: id },
                success: function (se) {
                    $("#EditModal").modal("show");
                    $(".editID").val(se.specialeligibilityid);
                    $("#EditSEName").val(se.specialeligibilityname);
                }
            });
        }

        var ConfirmForm = function (id) {
            $("#SpecialEligibilityID").val(id);
            $("#DeleteModal").modal("show");
        };
    </script>

    <script>
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}