@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins/Poppins-Regular.ttf') format('truetype'), url('/font/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Poppins';
    box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #007bff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  
}

.home .navbar,
.navbar{
    background: #205781;
}

.form-control:focus,
.form-select:focus,
.btn:focus,
.btn-close:focus {
    border-color: #8e949f;
    box-shadow: none !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.modal-content {
    background-color: #FFF;
}

.form-control {
    border-color: #c3c5c8;
}

.form-floating input,
.form-floating select {
    background-color: #FFF;
}

.container-fluid main,
.container main {
    background-color: #F9FCFF;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
}

.dropdown-menu[data-bs-popper]{
    margin-top: .5rem !important;
}

.dt-search label {
    display: none;
}

.dt-search input {
    width: 800px;
    padding: 10px !important;
    background-color: white !important;
    border-color: #F2EFE7 !important;
}

    .dt-search input:focus {
        border-color: #FFF !important;
    }

.dt-type-numeric, .dt-type-date {
    text-align: left !important;
}

.dt-length select {
    padding: 10px !important;
    margin-right: 5px;
    background-color: white !important;
    border-color: #F2EFE7 !important;
}

.btn-outline-warning:hover {
    color: white !important;
}

.toast-container {
    z-index: 1500 !important;
}