<div class="modal fade" id="DetailsModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-primary" id="exampleModalToggleLabel">Document Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3 row">
                    <label for="Status" class="col-sm-2 col-form-label fw-bold">Status:</label>
                    <div class="col-sm-10">
                        <select class="form-control pe-none" id="DetailsStatus" asp-items="ViewBag.StatusList"></select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label fw-bold">Date Received:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="DetailsDateReceived" />
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label fw-bold">Date Entered:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="DetailsDateEntered" />
                    </div>
                </div>

                <p class="text-start rounded bg-primary text-white bg-opacity-75 ps-2 p-1 mt-5">Type of Submission.</p>

                <div class="mb-3 row">
                    <label for="SubmissionType" class="col-sm-2 col-form-label fw-bold">Type of Submission:</label>
                    <div class="col-sm-10">
                        <select class="form-control pe-none" id="DetailsSubmissionType" asp-items="ViewBag.SubmissionList"></select>
                    </div>
                </div>

                <div id="DetailsOtherFOsSection">
                    <div class="mb-3 row">
                        <label for="OtherFOS" class="col-sm-2 col-form-label fw-bold">FO name:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="DetailsOtherFOS" asp-items="ViewBag.OtherFOsID" ></select>
                        </div>
                    </div>
                </div>

                <p class="text-start rounded bg-primary text-white bg-opacity-75 ps-2 p-1 mt-5">Personal Information.</p>

                <div class="mb-3 row">
                    <label for="Lastname" class="col-sm-2 col-form-label fw-bold">Last name:</label>
                    <div class="col-sm-10">
                        <input class="form-control pe-none" id="DetailsLastname" />
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Firstname" class="col-sm-2 col-form-label fw-bold">First name:</label>
                    <div class="col-sm-10">
                        <input class="form-control pe-none" id="DetailsFirstname" />
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Middlename" class="col-sm-2 col-form-label fw-bold">Middle name:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="DetailsMiddlename" />
                    </div>
                </div>

                <div id="DetailsSuffixSection">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label fw-bold">Suffix:</label>
                        <div class="col-sm-10">
                            <input class="form-control pe-none" id="DetailsSuffix" />
                        </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Gender" class="col-sm-2 col-form-label fw-bold">Gender:</label>
                    <div class="col-sm-10">
                        <select class="form-control pe-none" id="DetailsGender" asp-items="ViewBag.GenderList" ></select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="DateofBirth" class="col-sm-2 col-form-label fw-bold">Date of birth:</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control pe-none" id="DetailsDOB"  />
                    </div>
                </div>

                <div class="mb-5 row">
                    <label for="PlaceofBirth" class="col-sm-2 col-form-label fw-bold">Place of birth:</label>
                    <div class="col-sm-10">
                        <input class="form-control pe-none" id="DetailsPOB"  />
                    </div>
                </div>

                <p class="text-start rounded bg-primary text-white bg-opacity-75 ps-2 p-1 mt-5">Type of Special Eligibility.</p>

                <div class="mb-3 row">
                    <label for="SpecialEligibility" class="col-sm-2 col-form-label fw-bold">Special eligibility:</label>
                    <div class="col-sm-10">
                        <select class="form-control pe-none" id="DetailsSE" asp-items="ViewBag.SpecialEligibilityID" ></select>
                    </div>
                </div>

                <div id="DetailsSchoolSection">
                    <div class="mb-3 row">
                        <label for="School" class="col-sm-2 col-form-label fw-bold">School name:</label>
                        <div class="col-sm-10">
                            <input class="form-control pe-none" id="DetailsSchool"  />
                        </div>
                    </div>
                </div>

                <div id="DetailsAddressSection">
                    <div class="mb-3 row">
                        <label for="Address" class="col-sm-2 col-form-label fw-bold">Address:</label>
                        <div class="col-sm-10">
                            <input class="form-control pe-none" id="DetailsAddress"  />
                        </div>
                    </div>
                </div>

                <div id="DetailsProvinceSection">
                    <div class="mb-3 row">
                        <label for="Province" class="col-sm-2 col-form-label fw-bold">Province:</label>
                        <div class="col-sm-10">
                            <select class="form-control pe-none" id="DetailsProvince" asp-items="ViewBag.ProvinceID" ></select>
                        </div>
                    </div>
                </div>

                <div id="DetailsPositionSection">
                    <div class="mb-3 row">
                        <label for="Position" class="col-sm-2 col-form-label fw-bold">Position:</label>
                        <div class="col-sm-10">
                            <select class="form-control pe-none" id="DetailsPosition" asp-items="ViewBag.PositionID" ></select>
                        </div>
                    </div>
                </div>

                <div id="DetailsToESection">
                    <div class="mb-3 row">
                        <label for="TOE" class="col-sm-2 col-form-label fw-bold">Type of eligibility:</label>
                        <div class="col-sm-10">
                            <input class="form-control pe-none" id="DetailsTOE"  />
                        </div>
                    </div>
                </div>

                <div id="DetailsOtherToESection">
                    <div class="mb-3 row">
                        <label for="OtherTOE" class="col-sm-2 col-form-label fw-bold">Other eligibility:</label>
                        <div class="col-sm-10">
                            <input class="form-control pe-none" id="DetailsOtherTOE"  />
                        </div>
                    </div>
                </div>

                <p class="text-start rounded bg-primary text-white bg-opacity-75 ps-2 p-1 mt-5">Remarks.</p>

                <div class="mb-3 row">
                    <label for="Remarks" class="col-sm-2 col-form-label fw-bold">Remarks:</label>
                    <div class="col-sm-10">
                        <input class="form-control pe-none" id="DetailsRemarks"  />
                    </div>
                </div>


            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>